body{

margin: 0;

}
.rodape {
  margin-top: 232px;
    font-size: large;
    height: 50px;
    background-color: #0D6EFD;
    color: #fff;
    justify-content: center;
    align-items: center;  
    display: flex;
  }