 body {
    margin: 0;
    background-color: rgb(179, 179, 179);
  }
  
  .header {
    display: flex;
    color: wheat;
    background-color: #0D6EFD;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #232323;
    border-radius: 5%;
    padding: 20px;

  }
  
  input[type="text"],
  input[type="password"],
  input[type="submit"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    color: rgb(36, 36, 36);
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: #4CAF50;
    font-size: 19px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .rodape {

    height: 50px;
    background-color: #0D6EFD;
 

  }

  .rodape3{

  margin-top: -100em;

  }
  
  .modau{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;


  }